.title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}

.list {
  list-style-type: none;
  padding: 0;

  li:first-child {
    border-top: 1px solid rgba(112, 112, 112, 0.3);
  }

  li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  }
}
